.whatsappContainer {
  position: fixed;
  bottom: 50px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el texto y el botón */
  z-index: 1000;
}

.floatingText {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.whatsappButton {
  width: 40px;
  height: 40px;
  /* background-color: #25d366; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}