.containerDataSkill{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh; 
}
.suvImage {
    display: flex;
    align-items: center;
    justify-content: center;

    object-fit: cover;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    width: 40rem;
    height: 30rem;
  }
  .suvImage.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  @media (max-width: 768px) {
        .containerDataSkill{
          flex-direction: column;
          height: 100vh; 
        }
        .suvImage {
            height: 16rem;
            width: 20rem;
            object-fit: cover;
        }
}