
.skillsCard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    margin: 2rem;
    border-radius: 15px;
    width: 300px;
    border: #3e7928 2px solid;
}
.skillsCard p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ba9e47;
    text-align: center;
    margin-left: 2rem;
}
  .skillsCard:hover{
    border: #3e7928 2px solid;
    color: #ba9e47;
}
.skillsCard:hover p {
      color: #1f4312;
      font-weight: 500;
  }
  .skillsCard:hover img {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    .skillsCard {
        width: 100%;
        margin: 1rem;
        padding: 1rem;
        border: #3e7928 .5px solid;
        border-radius: 10px;
    }
    .skillsCard p {
        font-size: 1.2rem;
    }
    .skillsCard:hover p {
        font-size: 1.5rem;
    }
    .skillsCard:hover img {
        transform: scale(1.1);
    }
}
