
.skillsCard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    margin: 2rem;
    /* border-radius: 7px;   */
    width: 300px;
    border: #3e7928 1px solid;
  }
  .skillsCardLeft{ 
    transform: translateX(-50px);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}
.skillsCardRight{ 
  transform: translateX(50px);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
}
.skillsCard p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ba9e47;
    text-align: center;
    margin-left: 2rem;
}
  .skillsCard:hover{
    border: #3e7928 1px solid;
    color: #ba9e47;
    transition: transform 0.5s ease, box-shadow 0.6s ease, background-color 0.6s ease; /* Transición más lenta */

}
.skillsCard:hover p {
    color: #1f4312;
    font-weight: 500;
  }
  .skillsCard:hover img {
    transform: scale(1.1);
  }

  .skillsCard.animate {
    opacity: 1;
    transform: translateY(0);
  }
    .icon {
        width: 60px;
        height: 60px;
        /* object-fit: cover; */
        /* border-radius: 100%; */
        transition: transform 0.5s ease, box-shadow 0.6s ease, background-color 0.6s ease; /* Transición más lenta */
    }

  @media (max-width: 768px) {
    .skillsCard {
        width: auto;
        margin: 1rem ;
        padding: 1rem;
        border: #3e7928 1px solid;
        /* border-radius: 7px; */
        /* width: 150px; */
    }
    .skillsCardLeft{
      margin-left: 2rem;
    } 
    .skillsCardRight {
     margin-right: 2rem;
    } 
    .skillsCard p {
        font-size: 1rem;
        margin-left: 1rem;
    }
    .skillsCard:hover p {
        font-size: 1rem;
        font-weight: 400;
    }
    .skillsCard:hover img {
        transform: scale(1);
    }
    .icon {
        width: 25px;
        height: 25px;
    }
}
