.containerDataService {
    padding: 7rem;
    text-align: center;
}
.containerDataService h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-top: 2rem;
}
.containerDataService p {
    font-size: 1rem;
    font-weight:300;
    margin-left: 2rem;
    color: #f00909;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    
}