.video-fondo-container {
    position: relative; /* Para que el contenido encima se posicione correctamente */
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Oculta cualquier parte del video que se salga del contenedor */
  }
  
  .video-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover; /* Asegura que el video cubra todo el contenedor sin deformarse */
    z-index: -1; /* Coloca el video detrás del contenido */
  }
  
  .degradado-verde {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Ajusta la altura del degradado según necesites */
    background: linear-gradient(to top, rgb(31 67 18), rgba(255, 255, 255, 0));
    /* background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); Degradado de blanco semitransparente a transparente */
    z-index: -1; /* Coloca el degradado encima del video pero detrás del contenido */
    pointer-events: none; /* Permite que los clics pasen a través del degradado */
  }

  .contenido-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Asegúrate de que el texto sea visible sobre el video */
    z-index: 2; /* Asegúrate de que el contenido esté encima del video */
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 3.5s ease-in-out forwards; /* Aplica la animación */
  }

  .contenido-encima h1 {
    font-size: 3rem; /* Tamaño más grande para el título */
    font-weight: 700; /* Más peso para el título */
    text-emphasis: filled;
    text-emphasis: filled;

    -webkit-text-stroke: 2px white; /* Borde blanco para navegadores compatibles */
    margin: 0.5rem 0; /* Espaciado entre el título y el párrafo */
  }
  
  .contenido-encima p {
    font-size: 1.5rem; /* Tamaño más grande para el párrafo */
    font-weight: 500; /* Peso medio para el párrafo */
    color: white; /* Borde blanco para navegadores compatibles */
    margin: 0.5rem 0; /* Espaciado entre el párrafo y el botón */
    margin: 0; /* Elimina márgenes adicionales */
  }

  /* Definición de la animación */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -60%); /* Comienza un poco más arriba */
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%); /* Termina centrado */
    }
  }